<main>
  <div class="evaluations-container">
    <h2>Avaliações Criadas</h2>

    <div *ngIf="evaluations.length === 0">
      Nenhuma avaliação encontrada.
    </div>

    <table *ngIf="evaluations.length > 0" class="evaluation-table">
      <thead>
        <tr>
          <th>Código da Avaliação</th>
          <th>Título</th>
          <th>Descrição</th>
          <th>Nota</th>
          <th>Data Final</th>
          <th>Criado em</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let eval of evaluations">
          
              <td><abbr title="Código para entrar nesta Avaliação">{{eval.evaluationCode}}</abbr></td>
          
          <td>{{ eval.title }}</td>
          <td>{{ eval.description }}</td>
          <td>{{ eval.evaluationScore }}</td>
          <td>{{ eval.finalDateEvaluation | date: 'dd/MM/yyyy HH:mm' }}</td>
          <td>
            {{ eval.createdDate ? (eval.createdDate | date: 'dd/MM/yyyy HH:mm') : '—' }}
          </td>
          <td>
            <button 
              class="edit-btn"
              *ngIf="isBeforeNow(eval.finalDateEvaluation)"
              (click)="editEvaluation(eval.id)">
              ✏️ Editar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
