<section class="section-main">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label>
      Nome*:
      <input type="text" formControlName="name" />
      <span *ngIf="form.get('name')?.invalid && form.get('name')?.touched">Campo obrigatório</span>
    </label>
  
    <label>
      Telefone*:
      <input type="text" formControlName="phoneNumber" />
      <span *ngIf="form.get('phoneNumber')?.invalid && form.get('phoneNumber')?.touched">Campo obrigatório</span>
    </label>
  
    <label>
      Cidade*:
      <input type="text" formControlName="city" />
      <span *ngIf="form.get('city')?.invalid && form.get('city')?.touched">Campo obrigatório</span>
    </label>
  
    <label>
      Estado*:
      <input type="text" formControlName="state" />
      <span *ngIf="form.get('state')?.invalid && form.get('state')?.touched">Campo obrigatório</span>
    </label>
  
    <button type="submit">Salvar</button>
  </form>
</section>
