<div class="sidebar-container">
  <div class="logo-container">
    <a routerLink="/user/home" class="logo">
      <h1>CalangoSocial</h1>
    </a>
  </div>

  <nav class="navigation">
    <ul class="menu-list">
        <li><a routerLink="/user/home"><span class="material-symbols-outlined">home</span> Página Inicial</a></li>
        <li><a routerLink="/search"><span class="material-symbols-outlined">search</span> Pesquisa</a></li>
        <li><a routerLink="/messages"><span class="material-symbols-outlined">chat</span> Mensagens</a></li>
        <li><a routerLink="/notifications"><span class="material-symbols-outlined">notifications</span> Notificações</a></li>
        <li><a routerLink="/profile"><span class="material-symbols-outlined">person</span> Perfil</a></li>
    </ul>
  </nav>

    <button class="btn-basic logout-button" (click)="logout()">
    <span class="material-symbols-outlined">logout</span>
    Sair
    </button>


  
</div> 