  <section class="features">
    <a class="feature-box feature-entrar" routerLink ="#">

          <h3 class="feature-text">Realize Avaliações</h3>
          <p>Entre e realize avalições criadas pelo seu professor</p>
    </a>
    <a class="feature-box feature-criar" routerLink="/user/create-evaluation">
          <h3 class="feature-text">Crie avaliações</h3>
          <p>Desenvolva avaliações personalizadas para seus alunos</p>
    </a>
    <a class="feature-box feature-gerenciar" routerLink="/user/evaluations">
          <h3 class="feature-text">Gerencie suas avaliações</h3>
          <p>Visualize e edite suas avaliações</p>
    </a>
  </section>